h1 {
    color:cadetblue;
}

form{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
}
#character.bar{
    width: 252px;
  height: 165px;
  background: #7fffd4(127,255,212);
  margin-left: 163px;
  padding-top: 25px;
}
h4{
    text-align: center;
}
button{
    text-align: center;
}